#root-online-product-list .product-list {
  position: absolute;
  top: 60px !important; 
  right: 162px !important; 
  width: 598px !important; 
  display: flex !important;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

#root-online-product-list .product-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#root-online-product-list .product-item:hover {
  background-color: #f9f9f9;
}

#root-online-product-list .product-item p {
  margin: 0 0 5px 0;
  color: black;
  text-transform: none;
}


/* Responsive design  */
@media (min-width: 1024px) {
  #root-online-product-list .product-list {
    width: 800px;
    right: 50px;
  }
}
