#root-upload-products {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

/* Responsive Design */
@media (min-width: 768px) {
  #root-upload-products .search-field {
    margin-right: 20px;
  }
}

#root-upload-products .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Responsive Design */
@media (min-width: 1200px) {
  #root-upload-products .search-field {
    max-width: 700px;
  }
}

#root-upload-products .search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
}

#root-upload-products .store-name {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#root-upload-products .shop-logo {
  max-height: 40px;
  cursor: pointer;
  margin-left: 20px;
}

#root-upload-products .shop-logo:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

#root-upload-products .search-field {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
  margin-right: 600px;
  max-width: 500px;
}

#root-upload-products .search-field input {
  flex: 1;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-transform: none;
}

#root-upload-products .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #007bff;
  cursor: pointer;
}

#root-upload-products .table-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0 1rem 1rem 1rem;
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 140px);
  border: 1px solid #ddd;
}

#root-upload-products .products-table {
  width: 100%;
  border-collapse: collapse;
}

#root-upload-products .products-table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  z-index: 1;
}

#root-upload-products .products-table th {
  padding: 12px;
  text-align: center;
  background-color: #f1f1f1;
  border-bottom: 2px solid #ddd;
  font-family: "Montserrat", serif;
  text-transform: none;
}

#root-upload-products .products-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-family: "Montserrat", serif;
  text-transform: none;
}

#root-upload-products .error-message {
  color: red;
}

#root-upload-products .status-draft {
  text-transform: capitalize !important;
  color: #6c757d;
}

#root-upload-products .status-ready {
  text-transform: capitalize !important;
  color: #ffa500;
}

#root-upload-products .status-published {
  text-transform: capitalize !important;
  color: #28a745;
}

#root-upload-products button {
  padding: 8px 12px;
  margin: 4px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #d30a0a;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

#root-upload-products .search-icon {
  color: #d30a0a;
}

#root-upload-products button:hover,
#root-upload-products .search-icon:hover {
  opacity: 0.75;
}

#root-upload-products button .fa-times {
  color: #d30a0a;
}

#root-upload-products button .fa-upload {
  color: #d30a0a;
}

#root-upload-products button .fa-check-circle {
  color: #28a745;
}

#root-upload-products button .fa-undo {
  color: #ffc107;
}

#root-upload-products .select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  width: 135px;
}

#root-upload-products .select-wrapper select {
  width: 100%;
  padding: 5px;
  padding-right: 15px;
  border: 2px solid #ff0000;
  border-radius: 6px;
  background-color: #ffffff;
  color: #000000;
  font-family: "Montserrat", serif;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  text-align: center;
  transition: all 0.3s ease;
}

#root-upload-products .select-wrapper::after {
  position: absolute;
  right: 5px;
  top: 48%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
  color: #000000;
}

#root-upload-products .select-wrapper select:hover,
#root-upload-products .select-wrapper select:focus {
  border-color: #ff4500;
  box-shadow: 0 0 5px rgba(255, 69, 0, 0.5);
  color: #000000;
}

@media (max-width: 768px) {
  #root-upload-products .select-wrapper select {
    font-size: 12px;
    padding: 6px;
  }
}

#root-upload-products .action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root-upload-products .action-buttons button {
  background-color: transparent;
  color: #d30a0a;
  padding: 6px;
  margin: 0 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

#root-upload-products .action-buttons button:hover {
  opacity: 0.75;
}

#root-upload-products .view-pictures-icon {
  color: #d30a0a;
}

#root-upload-products .view-pictures-icon:hover {
  color: #d30a0a;
}

#root-upload-products .upload-photo-icon {
  color: #d30a0a;
}

#root-upload-products .upload-photo-icon:hover {
  color: #a30707;
}

#root-upload-products .upload-showcase-button-container {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
}

#root-upload-products .upload-showcase-button,
#root-upload-products .view-showcase-button {
  white-space: nowrap;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: opacity 0.3s ease;
}

#root-upload-products .upload-showcase-button {
  background-color: #d30a0a;
}

#root-upload-products .upload-showcase-button:hover,
#root-upload-products .view-showcase-button:hover {
  opacity: 0.75;
}
