.pos-page {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pos-header {
  background-color: #343a40;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shop-info {
  display: flex;
  align-items: center;
}

.shop-info h1 {
  font-size: 24px;
  margin: 0;
  padding-left: 10px;
}

.cart-icon {
  cursor: pointer;
}

.pos-content {
  display: flex;
  flex: 1;
  overflow-x: hidden;
}

.toggle-sidebar-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  color: #343a40;
}

.pos-main {
  display: flex;
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  overflow-x: hidden;
}

.products-section,
.cart-section {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.products-section {
  border-right: 1px solid #dee2e6;
}

.cart-section {
  padding-left: 20px;
}

@media (max-width: 768px) {
  .pos-main {
    flex-direction: column;
  }

  .categories-sidebar {
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #dee2e6;
  }

  .cart-section {
    width: 100%;
    margin-top: 20px;
  }
}

.categories-sidebar-wrapper.hidden {
  display: none;
}

.categories-sidebar-wrapper.visible {
  display: block;
}

.toggle-sidebar-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  color: #343a40; /* Default color */
  transition: color 0.3s ease; /* Smooth color transition */
}

.toggle-sidebar-btn:hover {
  color: #007bff; /* Color on hover */
}
.h-6 {
  height: 24px;
}

.w-6 {
  width: 24px;
}