#root-product-search {
  position: relative;
}

#root-product-search .product-search {
  position: relative;
  display: flex;
  align-items: center;
}

#root-product-search .product-search input[type="text"] {
  width: 600px; 
  padding: 10px 40px 10px 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  font-size: 16px;
  text-transform: none;
}

#root-product-search .product-search .search-icon {
  position: absolute;
  top: 50%; 
  right: 2px; 
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #1D2B3A; 
  padding: 8px; 
  border-radius: 3px; 
  width: 45px; 
  height: 36px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#root-product-search .search-icon:hover {
  opacity: 0.75;
}

#root-product-search .search-icon svg {
  font-size: 18px;
  color: #fff;
}

#root-product-search .suggestions {
  position: absolute;
  top: calc(100% + 5px); 
  left: 0;
  width: 100%; 
  border: 1px solid #ddd;
  background-color: white;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 4px 4px;
}

#root-product-search .suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
  font-family: 'Montserrat', serif;
  text-transform: none;
  color: black;
}

#root-product-search .suggestion-item:hover {
  background-color: #f0f0f0;
}
