.login-page-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../components/LoginComponents/assets/g&f-background.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f4f4f9;
}

.login-content {
  text-align: center;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.727);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.login-content h2 {
  color: whitesmoke;
  font-weight: 300;
}

.login-input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.162);
  color: white;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
  text-transform: none;
}

.form-group.has-error .login-input {
  border-color: red;
}

.input-error::placeholder {
  color: red;
}

.input-icon {
  position: absolute;
  left: 12px;
  padding-top: 4px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.login-button {
  background-color: #0c619b !important;
  color: #ffffff !important;
  border: none !important;
  padding: 10px 20px !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  transition: background-color 0.3s !important;
}

.login-button:hover {
  background-color: #4989B4 !important;
}

/* Responsive Design */
@media (max-width: 600px) {
  .login-content {
    padding: 15px;
    max-width: 90%;
  }

  .login-content h2 {
    font-size: 20px;
  }

  .login-input {
    padding: 8px 8px 8px 35px;
    font-size: 14px;
  }

  .login-button {
    padding: 8px 15px;
    font-size: 14px;
  }
}
