#root-add-product-modal .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#root-add-product-modal .modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1001;
}

#root-add-product-modal .error-message {
  background-color: #f44336;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}

#root-add-product-modal form {
  display: flex;
  flex-direction: column;
}

#root-add-product-modal label {
  margin-bottom: 10px;
  color: #333333;
}

#root-add-product-modal .modal-overlay .modal-content h2 {
  font-weight: 300;
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

#root-add-product-modal .modal-overlay .modal-content h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
}

#root-add-product-modal input,
#root-add-product-modal textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-transform: none;
}

#root-add-product-modal textarea {
  resize: vertical;
}

#root-add-product-modal .button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#root-add-product-modal .modal-content .button-group button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#root-add-product-modal button[type="submit"], 
#root-add-product-modal button[type="button"]{
  background-color: #0c619b;
  color: #ffffff;
}

#root-add-product-modal button[type="submit"]:hover, 
#root-add-product-modal button[type="button"]:hover {
  opacity: 0.75;
}
