/* Responsive design */
#root-add-stock-modal .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#root-add-stock-modal .modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1001;
}

#root-add-stock-modal .modal-overlay .modal-content h2 {
  font-weight: 300;
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

#root-add-stock-modal .modal-overlay .modal-content h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
}

#root-add-stock-modal .error-message {
  color: #eb2626;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#root-add-stock-modal form {
  display: flex;
  flex-direction: column;
}

#root-add-stock-modal label {
  margin-bottom: 10px;
  color: #333333;
}

#root-add-stock-modal input,
#root-add-stock-modal textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-transform: none;
}

#root-add-stock-modal textarea {
  resize: vertical;
}

#root-add-stock-modal .button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#root-add-stock-modal .modal-content .button-group button {
  flex: 1;
  margin: 0 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#root-add-stock-modal .modal-content .button-group button[type="submit"],
#root-add-stock-modal .modal-content .button-group button[type="button"] {
  background-color: #d30a0a;
  color: #ffffff;
}

#root-add-stock-modal .modal-content .button-group button[type="submit"]:hover,
#root-add-stock-modal .modal-content .button-group button[type="button"]:hover {
  opacity: 0.75;
}

/* Add media query for larger screens */
@media (min-width: 1024px) {
  #root-add-stock-modal .modal-content {
    width: 30%;
  }
}
