#root-confirm-delete-all-modal .confirm-delete-all-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  #root-confirm-delete-all-modal .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    text-align: center;
  }
  
  #root-confirm-delete-all-modal .error-message {
    color: red;
    margin-top: 10px;
  }
  