.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the overlay is above other elements */
}

.modal-content {
  background: var(--background-color); /* Use the same background color as defined in the main CSS */
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
  overflow-y: auto;
  max-height: 90%;
  z-index: 1001; /* Ensure the modal content is above the overlay */
}

.modal-content h2 {
  margin-top: 0;
  color: var(--text-color); /* Dark gray text color */
}

.modal-content .error-message {
  background-color: var(--error-color); /* Red error color */
  color: var(--background-color); /* Text color */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin: 10px 0;
  color: var(--text-color); /* Dark gray text color */
}

.modal-content input,
.modal-content textarea {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.modal-content textarea {
  resize: vertical;
  min-height: 80px;
}

.modal-content button {
  margin: 10px 0;
  padding: 10px;
  background-color: var(--button-color); /* Green button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button[type="button"] {
  background-color: var(--low-stock-color); /* Red Cancel button color */
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  flex: 1;
  margin: 0 5px;
}

.button-group button:hover {
  background-color: var(--button-hover-color); /* Darker green on hover */
}

.button-group button[type="button"]:hover {
  background-color: var(--low-stock-hover-color); /* Darker red on hover */
}
