:root {
  --primary-color: #3498db; 
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c; 
  --error-color: #e74c3c; 
  --background-color: #ecf0f1; 
  --text-color: #2c3e50; 
  --button-color: #3498db; 
  --button-hover-color: #2980b9;
  --add-product-color: #2ecc71; 
  --add-product-hover-color: #27ae60; 
  --low-stock-color: #e74c3c; 
  --low-stock-hover-color: #c0392b; 
}
.product-management-container {
  padding: 20px;
  max-width: 1200px;
  margin: 40px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.product-list {
  margin-top: 20px;
  flex: 1;
  overflow-y: auto;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table-header, .product-table-row {
  display: table-row;
}

.product-table-header div, .product-table-row div {
  display: table-cell;
  padding: 4px; 
  border: 1px solid #ddd;
  text-align: center;
  font-size: 0.85em; 
}

.product-table-header div {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 10;
}

.product-table-row:nth-child(even) {
  background-color: #f9f9f9;
}

.product-table-row:hover {
  background-color: #f1f1f1;
}

.product-table-row div button {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.product-table-row div button.delete {
  color: var(--error-color);
}

.product-table-row div button.edit {
  color: var(--primary-color);
}

.product-table-row div button:hover {
  opacity: 0.7;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#search-bar {
  width: 300px;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-button {
  padding: 8px 12px;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#search-button i {
  font-size: 16px;
}

#search-filter {
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.low-stock-button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: var(--low-stock-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.low-stock-button:hover {
  background-color: var(--low-stock-hover-color);
}

.add-product-button {
  width: auto;
  padding: 8px 12px;
  background-color: var(--add-product-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 10px; 
}

.add-product-button:hover {
  background-color: var(--add-product-hover-color);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}