#root-product-details-in-archived-page .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  #root-product-details-in-archived-page .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  #root-product-details-in-archived-page .close-button {
    float: right;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  #root-product-details-in-archived-page .close-button:hover {
    color: red;
  }
  
  #root-product-details-in-archived-page .modal img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  #root-product-details-in-archived-page .modal-content h2 {
    margin-top: 0;
  }
  
  #root-product-details-in-archived-page .modal-content p {
    margin: 10px 0;
    font-size: 16px;
  }

  