* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

#root-dashboard-page .dashboard-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root-dashboard-page .dashboard-container .sidebar {
  width: 250px;
  background-color: #2f3b4c;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.3s ease;
}

#root-dashboard-page .dashboard-container .sidebar-header {
  padding: 20px;
  text-align: center;
  background-color: #2f3b4c;
  border-bottom: 3px solid #404b5e;
}

#root-dashboard-page .dashboard-container .sidebar .sidebar-header h2 {
  margin: 0;
  color: #ffffff;
  font-weight: 300;
  font-size: 19px;
}

#root-dashboard-page .sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#root-dashboard-page .sidebar-nav ul li {
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif;
}

#root-dashboard-page .sidebar-nav ul li a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s ease;
}

#root-dashboard-page .sidebar-nav ul li a:hover {
  color: #fff;
}

#root-dashboard-page .main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden; 
  background-color: #fff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

#root-dashboard-page .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#root-dashboard-page .search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}

#root-dashboard-page .account-info {
  display: flex;
  align-items: center;
}

#root-dashboard-page .account-info span {
  margin-left: 10px;
  color: #666;
}

#root-dashboard-page h2 {
  color: #000;
}

#root-dashboard-page .section-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#root-dashboard-page .table-container {
  max-height: 400px;
  overflow-x: auto;
  overflow-y: auto;
}

#root-dashboard-page table {
  width: 100%;
  border-collapse: collapse;
}

#root-dashboard-page table th,
#root-dashboard-page table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#root-dashboard-page table th {
  background-color: #f7f7f7;
  font-weight: 500;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 1;
}

#root-dashboard-page .low-stock-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

#root-dashboard-page .low-stock-list-item {
  margin-bottom: 8px;
  padding: 10px;
  border-left: 5px solid #343a40;
  border-radius: 3px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

#root-dashboard-page .low-stock-list-item.in-stock {
  background-color: #f0f0f0;
  color: #333;
}

#root-dashboard-page .low-stock-list-item.total-items {
  background-color: #f0f0f0;
  color: #333;
}

#root-dashboard-page .low-stock-list-item.low-stock {
  background-color: #f8d7da;
  border-left-color: #dc3545;
  color: #721c24;
}

#root-dashboard-page .low-stock-list-item:hover {
  transform: scale(1.05);
}

#root-dashboard-page .low-stock-list-item:hover.in-stock,
#root-dashboard-page .low-stock-list-item:hover.total-items {
  background-color: #e9ecef;
}

#root-dashboard-page .low-stock-list-item:hover.low-stock {
  background-color: #f5c6cb;
}

#root-dashboard-page .low-stock-list-item span {
  font-weight: 300;
  display: block;
}

#root-dashboard-page .no-low-stock {
  margin-top: 10px;
  color: #721c24;
}

#root-dashboard-page .bottom-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#root-dashboard-page .transaction-overview,
#root-dashboard-page .stock-reminder-low-stock-reminder,
#root-dashboard-page .total-income {
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

#root-dashboard-page .transaction-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

#root-dashboard-page .transaction-overview h3, 
#root-dashboard-page .total-income h3, 
#root-dashboard-page .stock-reminder-low-stock-reminder h3 {
  font-size: 1.6em;
  color: #000;
  margin-bottom: 20px;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#root-dashboard-page .transactions-boxes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

#root-dashboard-page .transaction-box {
  text-align: center;
  margin: 10px 0;
}

#root-dashboard-page .transaction-box p {
  margin: 0;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#root-dashboard-page .transaction-box p:hover {
  transform: scale(1.05);
  background-color: #e9ecef;
}

#root-dashboard-page .income-details,
#root-dashboard-page .transactions-details {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

#root-dashboard-page .income-item,
#root-dashboard-page .transactions-item {
  text-align: center;
  margin: 10px 0;
}

#root-dashboard-page .income-item p,
#root-dashboard-page .transaction-details-total p, 
#root-dashboard-page .transaction-details-pos p,
#root-dashboard-page .transaction-details-online p {
  margin: 0;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  color: #333;
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#root-dashboard-page .total-income-item p:hover,
#root-dashboard-page .transaction-details-total p:hover,
#root-dashboard-page .transaction-details-pos p:hover,
#root-dashboard-page .transaction-details-online p:hover {
  transform: scale(1.05);
  background-color: #e9ecef;
}

#root-dashboard-page .dashboard-container .main-content .section-container h3 {
  font-weight: 500; 
  font-size: 25px;
}

#root-dashboard-page .income-item{
  margin-top: 40px;
}

#root-dashboard-page .income-details-item,
#root-dashboard-page .transaction-details-total,
#root-dashboard-page .transaction-details-pos,
#root-dashboard-page .transaction-details-online {
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  #root-dashboard-page .sidebar {
    width: 200px;
  }

  #root-dashboard-page .main-header {
    flex-direction: column;
    align-items: flex-start;
  }

  #root-dashboard-page .bottom-section {
    flex-direction: column;
    margin-top: 20px;
  }

  #root-dashboard-page .transaction-overview,
  #root-dashboard-page .stock-reminder-low-stock-reminder,
  #root-dashboard-page .monthly-income {
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  #root-dashboard-page .dashboard-container {
    flex-direction: column;
  }

  #root-dashboard-page .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  #root-dashboard-page .main-content {
    margin-left: 0;
  }

  #root-dashboard-page .main-header {
    flex-direction: column;
    align-items: flex-start;
  }

  #root-dashboard-page .search-input {
    width: 100%;
    margin-bottom: 10px;
  }

  #root-dashboard-page .bottom-section {
    flex-direction: column;
    margin-top: 20px;
  }

  #root-dashboard-page .transaction-overview,
  #root-dashboard-page .stock-reminder-low-stock-reminder,
  #root-dashboard-page .monthly-income {
    margin: 10px 0;
  }

  #root-dashboard-page .transaction-overview p,
  #root-dashboard-page .stock-reminder-low-stock-reminder ul {
    margin: 0;
  }
}

#root-dashboard-page .logout-button {
  background: none;
  border: none;
  color: #d30a0a;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: color 0.3s ease;
}

#root-dashboard-page .logout-button:hover {
  opacity: 0.95;
}

#root-dashboard-page .report-checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

#root-dashboard-page .report-item {
  position: relative;
}

#root-dashboard-page .report-item.hoverable:hover {
  transform: scale(1.05);
}

#root-dashboard-page .report-item.selected .report-checkbox {
  display: block;
}

#root-dashboard-page .report-checkbox {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  display: inline-block;
}

#root-dashboard-page .wiggle {
  animation: wiggle 1s infinite;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

#root-dashboard-page .report-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  margin: 10px;
  background-color: #0c619b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

#root-dashboard-page .report-button:hover {
  opacity: 0.75;
}

#root-dashboard-page .report-button svg {
  margin-right: 8px;
}

#root-dashboard-page .report-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(12, 97, 155, 0.5);
}

#root-dashboard-page .report-button:active {
  background-color: #0a4f80;
}
