* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background-color: #2f3b4c;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  padding: 20px;
  text-align: center;
  background-color: #2f3b4c;
  border-bottom: 3px solid #404b5e;
}

.sidebar-header h2 {
  margin: 0;
  color: #ecf0f1;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav ul li {
  padding: 15px 20px;
}

.sidebar-nav ul li a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s ease;
}

.sidebar-nav ul li a:hover {
  color: #fff;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}

.account-info {
  display: flex;
  align-items: center;
}

.account-info span {
  margin-left: 10px;
  color: #666;
}

h2 {
  color: #000000;
}

.section-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: center; 
  border: 1px solid #ddd;
  background-color: #fff;
}

table th {
  background-color: #f7f7f7;
  font-weight: bold;
}

.low-stock-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.low-stock-list-item {
  margin-bottom: 8px;
  padding: 10px;
  border-left: 5px solid #343a40;
  border-radius: 3px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.low-stock-list-item.in-stock {
  background-color: #f0f0f0;
  color: #333;
}

.low-stock-list-item.total-items {
  background-color: #f0f0f0;
  color: #333;
}

.low-stock-list-item.low-stock {
  background-color: #f8d7da;
  border-left-color: #dc3545;
  color: #721c24;
}

.low-stock-list-item:hover {
  transform: scale(1.05);
}

.low-stock-list-item:hover.in-stock,
.low-stock-list-item:hover.total-items {
  background-color: #e9ecef;
}

.low-stock-list-item:hover.low-stock {
  background-color: #f5c6cb;
}

.low-stock-list-item span {
  font-weight: bold;
  display: block;
}

.no-low-stock {
  margin-top: 10px;
  color: #721c24;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.transaction-overview,
.low-stock-reminder{
  padding: 20px;
  border-radius: 8px;
  margin-right: 10px;
  flex: 1 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.transaction-overview {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

.transaction-overview h3 {
  font-size: 1.6em;
  color: #000000;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.transactions-boxes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.transaction-box {
  text-align: center;
  margin: 10px 0;
}

.transaction-box p {
  margin: 0;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.transaction-box p:hover {
  transform: scale(1.05);
  background-color: #e9ecef;
}

.monthly-income {
  padding: 20px;
  border-radius: 8px;
  margin-left: 10px;
  flex: 1 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

.monthly-income h3 {
  font-size: 1.6em;
  color: #000000;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.monthly-income-details,
.transactions-details {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.monthly-income-item,
.transactions-item {
  text-align: center;
  margin: 10px 0;
}

.monthly-income-item p,
.transaction-details-total p, 
.transaction-details-pos p,
.transaction-details-online p{
  margin: 0;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.monthly-income-item p:hover,
.transaction-details-total p:hover,
.transaction-details-pos p:hover,
.transaction-details-online p:hover {
  transform: scale(1.05);
  background-color: #e9ecef;
}

.monthly-income-details-item,
.transaction-details-total,
.transaction-details-pos,
.transaction-details-online {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main-content {
    margin-left: 0;
  }

  .main-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .bottom-section {
    flex-direction: column;
    margin-top: 20px;
  }

  .transaction-overview,
  .low-stock-reminder {
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }

  .transaction-overview p,
  .low-stock-reminder ul {
    margin: 0;
  }
}

.logout-button {
  background: none;
  border: none;
  color: #bd4138;
  font-size: 18px;
  cursor: pointer;
  padding: 0px;
  display: flex;
  align-items: center;
  transition: color 0.3s, background-color 0.3s;
}

.logout-button:hover {
  color: #ff0707;
}




