#root-order-details-modal .modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

#root-order-details-modal .modal-content.waybill-style {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px 30px;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  position: relative;
  font-family: "Montserrat", serif;
}

#root-order-details-modal .header-section h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #d30a0a;
  text-transform: uppercase;
  text-align: left;
}

#root-order-details-modal .header-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
  padding: 5px 0;
}

#root-order-details-modal .pricing-details {
  display: flex;
  font-size: 14px;
  color: #333;
  padding: 5px 0;
}

#root-order-details-modal .merchandise-sub-total-margin-right {
  margin-right: 40px;
}

#root-order-details-modal .header-section {
  border-bottom: 2px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#root-order-details-modal .items-section h3 {
  font-size: 16px;
  font-weight: bold;
  color: #d30a0a;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#root-order-details-modal .item-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

#root-order-details-modal .item-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#root-order-details-modal .item-name {
  font-size: 14px;
  color: #333;
}

#root-order-details-modal .item-quantity {
  font-size: 14px;
  color: #333;
  text-align: right;
}

#root-order-details-modal .customer-shipping-section {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

#root-order-details-modal .customer-details,
#root-order-details-modal .shipping-details {
  width: 45%;
}

#root-order-details-modal .customer-details h3,
#root-order-details-modal .shipping-details h3 {
  font-size: 16px;
  font-weight: bold;
  color: #d30a0a;
  text-transform: uppercase;
  padding-bottom: 5px;
}

#root-order-details-modal .customer-details p,
#root-order-details-modal .shipping-details p,
#root-order-details-modal .pricing-details p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
  text-transform: none;
}

#root-order-details-modal .close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #d30a0a;
}
