#root-sales-chart {
  padding: 5px;
}

#root-sales-chart .recharts-yAxis .recharts-cartesian-axis-tick {
  font-family: "Montserrat", serif;
  font-size: 14px;
  color: #333;
  margin-right: 5px;
}

#root-sales-chart .recharts-xAxis .recharts-cartesian-axis-tick {
  font-family: "Montserrat", serif;
  font-size: 14px;
  color: #333;
}

@media print {
  .print-label {
    visibility: visible !important;
    opacity: 0;
  }
}
#root-sales-chart .print-label {
  visibility: hidden;
  opacity: 0;
}
