#root-change-password-manual {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/g&f-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#root-change-password-manual .change-password-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

#root-change-password-manual .change-password-container h2 {
  margin-bottom: 20px;
  font-weight: 300;
}

#root-change-password-manual .change-password-container p {
  margin-bottom: 20px;
  color: #666;
}

#root-change-password-manual .input-group {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

#root-change-password-manual .input-group label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

#root-change-password-manual .input-icon {
  position: relative;
  display: flex;
  align-items: center;
}

#root-change-password-manual .input-icon input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-transform: none;
}

#root-change-password-manual .input-field-icon {
  position: absolute;
  left: 10px;
  color: #888;
}

#root-change-password-manual .password-toggle-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  color: #888;
}

#root-change-password-manual .submit-button {
  width: 100%;
  padding: 10px;
  background-color: #bb0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

#root-change-password-manual .submit-button:hover {
  opacity: 0.75;
}

#root-change-password-manual .change-password-container .error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

#root-change-password-manual .cancel-link {
  margin-top: 20px;
  color: #0056b3;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

#root-change-password-manual .cancel-link:hover {
  text-decoration: underline;
}

#root-change-password-manual .error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

#root-change-password-manual .success-message {
  color: green;
  margin-top: 10px;
}
