#root-request-reset-password {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/g&f-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#root-request-reset-password .reset-password-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

#root-request-reset-password .reset-password-container h2 {
  margin-bottom: 20px;
  font-weight: 300;
}

#root-request-reset-password .reset-password-container p {
  margin-bottom: 20px;
  color: #666;
}

#root-request-reset-password .input-group {
  margin-bottom: 20px;
}

#root-request-reset-password .input-group label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

#root-request-reset-password .input-icon {
  position: relative;
  display: flex;
  align-items: center;
}

#root-request-reset-password .input-icon input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-transform: none;
}

#root-request-reset-password .input-field-icon {
  position: absolute;
  left: 10px;
  color: #888;
}

#root-request-reset-password .submit-button {
  width: 100%;
  padding: 10px;
  background-color: #bb0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

#root-request-reset-password .submit-button:hover {
  opacity: 0.75;
}

#root-request-reset-password .cancel-link {
  margin-top: 20px;
  color: #0056b3;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

#root-request-reset-password .cancel-link:hover {
  text-decoration: underline;
}

#root-request-reset-password .login-footer {
  margin-top: 20px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}
