#root-side-bar .sidebar {
  width: 250px;
  background-color: #f5f5f5;
  padding: 15px;
}

#root-side-bar .sidebar-menu {
  list-style-type: none;
  padding: 0;
}

#root-side-bar .sidebar-menu li {
  margin-bottom: 10px;
  color: #313638;
}

#root-side-bar .sidebar-menu button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}

#root-side-bar .sidebar-menu button.active {
  font-weight: bold;
  color: #0a0c0c;
}

#root-side-bar .sidebar-menu li button.active {
  font-weight: bold;
  color: #0a0c0c;
}

#root-side-bar .submenu {
  margin-left: 20px;
  list-style-type: none;
  padding: 0;
}

#root-side-bar .submenu li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
}

#root-side-bar .submenu li .icon {
  margin-right: 8px;
  font-size: 20px;
}

#root-side-bar .submenu li.active {
  font-weight: bold;
  color: #ff0000;
}

#root-side-bar .submenu li:hover {
  opacity: 0.75;
}

@media (max-width: 768px) {
  #root-side-bar .sidebar {
    width: 200px;
  }

  #root-side-bar .sidebar-menu button,
  #root-side-bar .submenu li {
    font-size: 14px;
  }

  #root-side-bar .submenu li .icon {
    font-size: 18px;
  }
}
